{{ template "header" . }}

<div class="b-example-divider"></div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white"><i class="fa-solid fa-house" style="color: #B197FC;"></i> Welcome to the Task Page</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">A simple Go example with Gin and Bootstrap to create Tasks :)</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Add Tasks</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4"
		onClick="location.href='/tasks';">List Tasks</button>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
